{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Registration{% endblock %}
{% block content %}
<h1>Form for {{event.eventName}}</h1>
<div style="padding:10px;" class="container">
    <form name="submit-to-google-sheet" method="POST" id="test-form">
        {% csrf_token %}
        {{form|crispy}}
        <button id="submit-form" onclick="submittosheet()" class="btn btn-primary" name="submitted" type="submit">Submit</button>
        
    </form>
    {% for rule in rules %}
        <li>
            {{rule}}
        </li>
        {% endfor %}
        {{event.desc}}
</div>
        {{request23}}

{% endblock %}
{% block script %}

    function submittosheet()
    {
        const scriptURL = '{{event.url}}';
        const form = document.forms['submit-to-google-sheet'];

        form.addEventListener('submit', e => {
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => console.log('Success!', response))
                .catch(error => console.error('Error!', error.message))
        });
    }
    

{% endblock %}