{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Sattva 21</title>
	<!-- MetaTags -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- semantic-js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"
		integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw=="
		crossorigin="anonymous"></script>
	<!-- semantic-css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
		integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ=="
		crossorigin="anonymous" />
	<!-- custom-css -->
	<link rel="stylesheet " href="{% static 'css/custnav.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/map.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/contactus.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/aboutus.css' %}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="stylesheet" href="{% static '/css/needle.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mobilemenu.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Sail&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/font.css' %}" type="text/css" media="all" />
	<link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="all" />
	<script src="{% static './js/keyListner.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bgImage.js' %}">    </script>
    <script type="text/javascript" src="{% static 'js/fishTank.js' %}">    </script>
    <script type="text/javascript" src="{% static 'js/backbutton.js' %}"></script>
	<style type="text/css">
		html {
			font-family: 'Sail', cursive;
			;
		}
		.container {
			position: absolute;
			width: 100%;
			height: 100%;
			overflow: hidden;
			}
	</style>
	<script type="text/javascript">
		$(document).ready(function () {
			var outerContent = $('body');
			outerContent.scrollLeft($(window).width() / 5);
		});
	</script>
</head>

<body onload="makingdefault()" onkeypress="uniCharCode(event)">
	<div class="container"><canvas id="fishtank" width="1200px" height="800px"></div>
	<!-- Top-Nav-Bar -->
	<div class="topnav navbar">
		<div class="logo">
			<img src="">
		</div>
		<div class="right-menu">
			<div class="link">
				<a class="item" id="remdays"></a><a class="item nohover">&nbspDays Left</a>
			</div>
		</div>
	</div>
	<!-- Top-Nav-Bar -->

	<!-- Compass -->
	<div class="compass">
		<div class="needles">
			<img src="{% static 'images/directions/north.png' %}" class="north">
			<img src="{% static 'images/directions/west.png' %}" class="west">
			<img src="{% static 'images/directions/east.png' %}" class="east">
			<img src="{% static 'images/directions/south.png' %}" class="south">
			<img src="{% static 'images/needle3.png' %}" alt="" class="needle">
		</div>
	</div>
	<!-- /Compass -->

	<!-- Bottom-Nav-Bar -->
	<div class="bottomnav navbar">
		<div class="left-menu">
			<div class="itembox">
				<div class="icon">
					<a href="https://www.facebook.com/sattvafest" target="_blank"><img
							src="{% static 'images/social/facebook.png' %}"></a>
				</div>
			</div>
			<div class="itembox">
				<div class="icon">
					<a href="https://www.instagram.com/sattva2021" target="_blank"><img
							src="{% static 'images/social/instagram.png' %}"></a>
				</div>
			</div>
			<div class="itembox">
				<div class="icon">
					<a href="#" target="_blank"><img src="{% static 'images/social/youtube.png' %}"></a>
				</div>
			</div>
		</div>
		<div class="right-menu">
			<div class="itembox">
				<div class="icon">
					<img src="{% static 'images/nav-but/C.png' %}">
				</div>
				<div class="link">
					<a class="item" onclick="contactus();">Contact Us</a>
				</div>
			</div>
			<div class="itembox">
				<div class="icon">
					<img src="{% static 'images/nav-but/T.png' %}">
				</div>
				<div class="link">
					<a class="item" onclick="ourteam();">Our Team</a>
				</div>
			</div>
			<div class="itembox">
				<div class="icon">
					<img src="{% static 'images/nav-but/M.png' %}">
				</div>
				<div class="link">
					<a class="item" onclick="aftermovie();">After Movie</a>
				</div>
			</div>
			<div class="itembox">
				<div class="icon">
					<img src="{% static 'images/nav-but/A.png' %}">
				</div>
				<div class="link">
					<a class="item" onclick="aboutus();">About Sattva</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /Bottom-Nav-Bar -->

	<!-- MAPS -->
	<div class="map" id="bgMap">
		<script src="{% static 'js/islandsView.js' %}"></script>
		<img src="{% static 'images/islands/Island.png' %}" alt="" id="bgIsland">
		<div class="one islands" onmouseover="imgHover(0)" onmouseout="imgOut(0)" id="island1" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'management' %}"><img src="{% static 'images/islands/Management-small.png' %}" alt="" id="small1" >
			<img src="{% static 'images/islands/Management-big.png' %}" alt="" id="big1"></a>
		</div>
		<div id="oneevents" class="events">
			<p id="oneevent1">Ad Vision</p>
			<p id="oneevent2">Turnaround</p>
			<p id="oneevent3">Bidweiser</p>
			<p id="oneevent4">Tazha Khabar</p>
			<p id="oneevent5">House Of Battle</p>
			<p id="oneevent6">Market Guru</p>
		</div>

		<div class="two islands" onmouseover="imgHover(1)" onmouseout="imgOut(1)" id="island2" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'informals' %}"><img src="{% static 'images/islands/Informals-small.png' %}" alt="" id="small2">
			<img src="{% static 'images/islands/Informals-big.png' %}" alt="" id="big2"></a>
		</div>
		<div id="twoevents" class="events">
			<p id="twoevent1">twoevent1</p>
			<p id="twoevent2">twoevent2</p>
			<p id="twoevent3">twoevent3</p>
			<p id="twoevent4">twoevent4</p>
			<p id="twoevent5">twoevent5</p>
			<p id="twoevent6">twoevent6</p>
			<p id="twoevent7">twoevent7</p>
		</div>

		<div class="three islands" onmouseover="imgHover(2)" onmouseout="imgOut(2)" id="island3" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'lafa' %}"><img src="{% static 'images/islands/Social-small.png' %}" alt="" id="small3">
			<img src="{% static 'images/islands/Social-big.png' %}" alt="" id="big3"></a>
		</div>
		<div id="threeevents" class="events">
			<p id="threeevent1" href="/events/solosinging">Photography</p>
			<p id="threeevent2">Food Truck</p>
			<p id="threeevent3">Food Drive</p>
			<p id="threeevent4">Red Dead</p>
		</div>

		<div class="four islands" onmouseover="imgHover(3)" onmouseout="imgOut(3)" id="island4" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'lafa' %}"><img src="{% static 'images/islands/LAFA-small.png' %}" alt="" id="small4">
			<img src="{% static 'images/islands/LAFA-big.png' %}" alt="" id="big4"></a>
		</div>
		<div id="fourevents" class="events">
			<p id="fourevent1">fourevent1</p>
			<p id="fourevent2">fourevent2</p>
			<p id="fourevent3">Momo</p>
		</div>

		<div class="five islands" onmouseover="imgHover(4)" onmouseout="imgOut(4)" id="island5" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'Sports' %}"><img src="{% static 'images/islands/Sports-small.png' %}" alt="" id="small5">
			<img src="{% static 'images/islands/Sports-big.png' %}" alt="" id="big5"></a>
		</div>
		<div id="fiveevents" class="events">
			<p id="fiveevent1">fiveevent1</p>
			<p id="fiveevent2">fiveevent2</p>
		</div>

		<div class="six islands" onmouseover="imgHover(5)" onmouseout="imgOut(5)" id="island6" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'photography' %}"><img src="{% static 'images/islands/Photography-small.png' %}" alt="" id="small6">
			<img src="{% static 'images/islands/Photography-big.png' %}" alt="" id="big6"></a>
		</div>
		<div id="sixevents" class="events">
			<p id="sixevent1">sixevent1</p>
			<p id="sixevent2">sixevent2</p>
		</div>

		<div class="seven islands" onmouseover="imgHover(6)" onmouseout="imgOut(6)" id="island7" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'workshops' %}"><img src="{% static 'images/islands/Workshops-small.png' %}" alt="" id="small7">
			<img src="{% static 'images/islands/Workshops-big.png' %}" alt="" id="big7"></a>
		</div>
		<div id="sevenevents" class="events">
			<p id="sevenevent1">sevenevent1</p>
			<p id="sevenevent2">sevenevent2</p>
			<p id="sevenevent3">sevenevent3</p>
			<p id="sevenevent4">sevenevent4</p>
			<p id="sevenevent5">sevenevent5</p>
		</div>

		<div class="eight islands" onmouseover="imgHover(7)" onmouseout="imgOut(7)" id="island8" style="z-index: 2;">
			<a href="{% url 'main:island-view' 'Pa' %}"><img src="{% static 'images/islands/Pa-small.png' %}" alt="" id="small8">
			<img src="{% static 'images/islands/Pa-big.png' %}" alt="" id="big8"></a>
		</div>

		<div id="eightevents" class="events">
			<p id="eightevent1">eightevent1</p>
			<p id="eightevent2">eightevent2</p>
			<p id="eightevent3">eightevent3</p>
			<p id="eightevent4">eightevent4</p>
			<p id="eightevent5">eightevent5</p>
			<p id="eightevent6">eightevent6</p>
			<p id="eightevent7">eightevent7</p>
			<p id="eightevent8">eightevent8</p>
			<p id="eightevent9">eightevent9</p>
		</div>
	</div>
	<!-- /MAPS -->

	<!-- OurTeamPopUp -->
	<div class="ui modal" id="ourteam">
		<i class="close icon" style="z-index: 3000000;"></i>
		<div class="tabmenu fadeIn animated2s">
			<div class="ui top attached tabular menu">
				<!--<a class="item trans active" data-tab="core">Core</a>
				<a class="item trans" data-tab="technical">Technical</a>
				<a class="item trans" data-tab="publicity">Publicity</a>-->
				<a class="item trans coretabs" onclick="getcoredetails(this)"
					id="{{supercoredept|make_list|slice:'0:4'|join:''}}" data-tab="{{supercoredept|lower}}">{{supercoredept}}</a>
				{% for dept in depts %}
				<a class="item trans coretabs" id="{{dept|make_list|slice:'0:5'|join:''}}" onclick="getcoredetails(this)"
					data-tab="{{dept|lower}}">{{dept}}</a>
				{% endfor %}
			</div>

			<div class="ui bottom attached tab segment active animated4s fadeIn" data-tab="core" id="team-pics-container">
				<div class="info" id="team-pics">
					<!--
					<div class="image">
					    <img src="{% static 'images/Departments/test3.png' %}">
					    <div class="overlay">
					    	<div class="overlaychild">
						    	<div class="quote">"I am not Amit, I am a legend"</div>
								<div class="name">Amit 	Shrivastava</div>
								<div class="post">Head</div>
					    	</div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<video class="scrollvideo" id="scrollvid1">
			<source src="{% static 'videos/scroll.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<!-- /OurTeamPopUp -->

		<!-- AboutUsPopUp -->
		<div class="ui modal" id="aboutus">
			<i class="close icon" style="z-index: 3000000;"></i>
			<div class="tabmenu fadeIn animated2s">
				<div class="ui top attached tabular menu">
					<a class="item trans active" data-tab="aboutsattva">About Sattva</a>
					<a class="item trans" data-tab="sponsor">Sponsor</a>
				</div>
				<div class="ui bottom attached tab segment active animated4s fadeIn" data-tab="aboutsattva">
					<div class="ui padded stackable grid animated4s fadeIn">
						<div class="two column row">
							<div class="column aboutimage">
								<img src="{% static 'images/sattva-events/DSC1.png' %}">
							</div>
							<div class="column quote">
								<p>Since its inception in 2011, Sattva has only grown as a fest by amalgamating more genres, having bigger, better events and amassing larger footfalls every single year. This 10th edition of Sattva is no different. As we keep in mind the pandemic and social distancing norms, our team has relentlessly worked towards making this edition of Sattva possible as we transition into a fully online fest.</p>
							</div>
						</div>
						<div class="two column row">
							<div class="column quote">
								<p>Sattva 21 will be conducted in two phases. The first phase will take place between January 4 and January 8, 2021. Participants are required to register latest by 23rd December and send in their videos for the online screening by 30th December.</p>
							</div>
							<div class="column aboutimage">
								<img src="{% static 'images/sattva-events/DSC2.png' %}">
							</div>
						</div>
						<div class="two column row">
							<div class="column aboutimage">
								<img src="{% static 'images/sattva-events/DSC3.png' %}">
							</div>
							<div class="column quote">
								<p>During the first phase, the judges will go through the all of submissions done by the participants and select the few best ones to move on. Results of phase 1 will be announced on 10th January, 2021. The selected participants will move on to phase two after which the winners for each event will be announced. The dates for phase 2 will be announced shortly on our website as well as our Instagram page. To know more about all the events, check out the events tab on our website. Through Sattva 21, we hope to alleviate some of the inconveniences caused during the pandemic and bounce back stronger from a year like 2020.</p>
							</div>
						</div>
						<div class="two column row">
							<div class="column quote">
								<p>Cyclothon is the precursor to Sattva and through this enthralling affair we hope to offer a glimpse of the upcoming festivities that Sattva has to offer. It oversees 1500+ cyclists battling it out in the wee hours of a Sunday and is generally held in September and is comfortably one of the biggest cyclothons organised in Mumbai. It is organised in such a way that its route is one of the most happening areas of suburban Mumbai so as to catch maximum eyeballs. Banners of our sponsors are displayed across suburban Mumbai in addition to relentless publicity and the numerous standees and posters that are put up in almost all colleges in and around Mumbai.</p>
							</div>
							<div class="column aboutimage">
								<img src="{% static 'images/sattva-events/DSC6.png' %}">
							</div>
						</div>
						<div class="two column row">
							<div class="column aboutimage">
								<img src="{% static 'images/sattva-events/DSC5.png' %}">
							</div>
							<div class="column quote">
								<p>This year, however, due to the unfortunate circumstances of the COVID-19 pandemic, Team Sattva was unable to pull of this exquisite pre-event of the fest. However, we do plan on incorporating other means to bring in the Sattva fever amongst Mumbaikars.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="ui bottom attached tab segment animated4s fadeIn" data-tab="sponsor">
					<div class="ui stackable grid">
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/campus_events.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/chai_pe_charcha.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/china_saffron.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/coolberg.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/dunes_spring.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/faasos.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/henry_and_smith.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/indian_oil.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/kavi_trivedi.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/kish.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/kokan_bank.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/monster.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/nvs_entertainment.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/opium.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/ovenstory_pizza.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/pair_a_dice_cafe.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/portronics.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/sage_student_housing.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/sunbeach_resort.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/swaad.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/swig.jpg' %}"></div>
						</div>
						<div class="three column row">
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/waiwai.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/wow_momo.jpg' %}"></div>
							<div class="column sponsor-image"><img src="{% static 'images/sponsors/zebronic.jpg' %}"></div>
						</div>
					</div>
				</div>
			</div>
			<video class="scrollvideo" id="scrollvid5">
				<source src="{% static 'videos/scroll.mp4' %}" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<!-- /AboutUsPopUp -->

	<!-- AfterMoviePopUp -->
	<div class="ui modal" id="aftermovie">
		<i class="close icon" style="z-index: 3000000;"></i>
		<center>
			<iframe src="https://www.youtube.com/embed/8mtVL9QZ3ww" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope;" allowfullscreen
				class="iframeVideo"></iframe>
		</center>
	</div>
	<!-- /AfterMoviePopUp -->

	<!-- ContactUsPopUp -->
	<div class="ui modal" id="contactus">
		<i class="close icon" style="z-index: 3000000;"></i>
		<div class="contactus fadeIn animated2s">
			<div class="contactmain">
				<div class="contactinfo">
					<div class="address">
						<h1>Address</h1>
						<h3>Campus: Mukesh Patel School of Technology Management and Engineering, Mumbai</h3>
					</div>
					<div class="phoneus">
						<h1>Phone Us</h1>
						<h3>Siddhesh - 97694 59455</h3>
						<h3>Mannan - 90222 11199</h3>
					</div>

					<div class="emailus">
						<h1>Email Us</h1>
						<h3>Email: hello@sattvafest.in</h3>
					</div>
				</div>
				<div class="contactform">
					<form id="contactusform">
						<div class="con">Contact Us</div>
						<div class="input">
							<input type="text" name="confname" placeholder="First Name*" required onfocus="flagZero()" onfocusout="flagOne()">
						</div>
						<div class="input">
							<input type="text" name="conlname" placeholder="Last Name*" required onfocus="flagZero()" onfocusout="flagOne()">
						</div>
						<div class="input">
							<input type="email" name="conemail" placeholder="Email*" required onfocus="flagZero()" onfocusout="flagOne()">
						</div>
						<div class="input">
							<input type="text" name="conphone" placeholder="Phone*" required onfocus="flagZero()" onfocusout="flagOne()">
						</div>
						<div class="input" id="query">
							<textarea name="conquery" placeholder="Query..." required onfocus="flagZero()" onfocusout="flagOne()"></textarea>
						</div>
						<div class="inputbutton">
							<div class="button wood">
								<div>REGISTER</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<video class="scrollvideo" id="scrollvid4">
			<source src="{% static 'videos/scroll.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<!-- /ContactUsPopUp -->

	<!-- EventPopUp -->
	<div class="ui modal" id="eventpopup">
		<i class="close icon" style="z-index: 3000000;"></i>
		<div class="tabmenu fadeIn animated2s">
			<div class="ui top attached tabular menu">
				<a class="item trans" data-tab="eventdetails">Details</a>
				<a class="item trans" data-tab="eventrules">Rules</a>
				<a class="item trans active" data-tab="eventregister">Register</a>
			</div>
			<div class="ui bottom attached tab segment animated4s fadeIn" data-tab="eventdetails">
			</div>
			<div class="ui bottom attached tab segment animated4s fadeIn" data-tab="eventrules">
			</div>
			<div class="ui bottom attached tab segment animated4s fadeIn active" data-tab="eventregister">
				<div class="eventform">
					<form action=".php" method="POST" autocomplete="off" id="photography">
						<input type="text" name="photosolofname" placeholder="First Name*" required>
						<input type="text" name="photosololname" placeholder="Last Name*" required>
						<input type="number" name="photosoloage" placeholder="Age*" required>
						<input type="email" name="photosoloemail" placeholder="Email*" required>
						<input type="text" name="photosolocert" placeholder="Address for certificates*" required>
						<input type="text" name="photosolocnum" placeholder="Contact Number*" required>
						<input type="checkbox" name="">
						<input type="text" name="photosolownum" placeholder="Whatsapp Number*" required>
						<input type="text" name="registercity" placeholder="City*" required>
						<select id="stream" name="registerstream" class="stream" required>
							<option value="btech">B.Tech</option>
							<option value="mbatech">MBA.Tech</option>
							<option value="bti">B.Tech Integrated</option>
							<option value="mca">MCA</option>
						</select>
						<label for="photosoloradio">Have you already received the details regarding the first phase of the
							competition (By someone from our team)?</label>
						<input type="radio" name="photosoloradio" value="yes">Yes
						<input type="radio" name="photosoloradio" value="no">No
						<div class="clear"></div>
						<!-- <input type="submit" id="registersubmit" name="registersubmit" value="REGISTER"> -->
						<center>
							<div class="button wood">
								<div>REGISTER</div>
							</div>
						</center>
						<div class="clear"></div>
					</form>
				</div>
			</div>
		</div>
		<video class="scrollvideo" id="scrollvid2">
			<source src="{% static 'videos/scroll.mp4' %}" type="video/mp4">
			Your browser does not support the video tag.
		</video>
	</div>
	<!-- /EventPopUp -->

	<!-- MobileMenu -->
	<div class="mobmenu pulldown" id="mobmenu">
		<div class="mobilemenu">
			<div class="mobilelogo">
				<img src="{% static 'images/sattva-mlogo.png' %}">
			</div>
			<div class="menuitems">
				<div class="mobileitem">
					<a class="item" onclick="aboutus();">About Sattva</a>
				</div>
				<div class="mobileitem">
					<a class="item" onclick="ourteam();">Our Team</a>
				</div>
				<div class="mobileitem">
					<a class="item" onclick="aftermovie();">After Movie</a>
				</div>
				<div class="mobileitem">
					<a class="item" onclick="contactus();">Contact Us</a>
				</div>
			</div>
		</div>
		<div id="pulltext" onclick="pulldown();" id="updown">Menu</div>
	</div>
	<!-- /MobileMenu -->
</body>

<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/aboutus.js' %}"></script>

</html>
<script>
	var home_url = "{% url 'main:landing-page' %}";
	getcoredetails('Supe');
	var dict = {
		1: "{% static 'images/islands/Management-big.png' %}",
		2: "{% static 'images/islands/Informals-big.png' %}",
		3: "{% static 'images/islands/Publicity-big.png' %}",
		4: "{% static 'images/islands/Pa-big.png' %}",
		5: "{% static 'images/islands/Sports-big.png' %}",
		6: "{% static 'images/islands/Photography-big.png' %}",
		7: "{% static 'images/islands/Workshops-big.png' %}",
	};

	function getcoredetails(depttab) {
		if (depttab == 'Supe') {
			depttab = document.getElementById('Supe');
		}
		// var url = "{% url 'core:core-info' dept=12345 %}".replace('12345', dept.toString());
		// console.log(depttab);
		// var string = "{% url 'menu:contents' Burger;
		$.getJSON("/core/" + depttab.innerHTML, function (items) {
			var inactiveTabs = document.getElementsByClassName('coretabs');
			for (var i = 0; i < inactiveTabs.length; i++) {
				inactiveTabs[i].classList.remove('active');
			}
			var tabClicked = document.getElementById(depttab.id);

			tabClicked.classList.add('active');
			// console.log(items[0].fields);
			const info = document.getElementById('team-pics');
			info.innerHTML = "";
			for (var i = 0; i < items.length; i++) {
				var image = document.createElement('div');
				image.classList.add('image');
				var corephoto = document.createElement('img');
				//corephoto.src = "{% static 'core/first second.png' %}".replace('first',i.fields.firstName);
				//corephoto.src = corephoto.src.replace('second',i.fields.lastName);
				corephoto.setAttribute('src', "{% static 'images/Departments/test3.png' %}".replace('test3', items[i].fields.firstName.toLowerCase() + "_" + items[i].fields.lastName.toLowerCase()));
				// console.log(corephoto);
				image.appendChild(corephoto);

				image.innerHTML += "<div class='overlay'>" +
					"<div class='overlaychild'>" +
					'<div class="quote">"' + items[i].fields.quote + '"</div>' +
					"<div class='name'>" + items[i].fields.firstName + " " + items[i].fields.lastName + "</div>" +
					"<div class='post'>" + items[i].fields.position + "</div>" +
					"</div></div>";
				info.appendChild(image);
			}
		});
	}
</script>