#aboutus .ui.top.attached.tabular.menu {
	overflow-x: hidden;
}

.sponsor-image {
	margin: 0 auto;
	text-align: center;
	align-content: center;
	align-items: center;
}

.column.sponsor-image img {
	width: 90%;
}

.column.quote {
	top: 0%;
	font-size: 24px;
	text-align: justify;
}

@media screen and (max-width: 600px) {
	.column.quote {
		top: 0%;
		font-size: 20px;
		text-align: justify;
	}
	.column.sponsor-image img {
		width: 70%;
	}

}